body {
	margin: 20px 5px;
	font-family: sans-serif;
}

div {
	display: block;
}
ul.buttons {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.buttons li {
	color: #111;
	display: block;
	float: left;
}
ul.buttons li a span {
	text-decoration: underline;
}
ul.buttons li span {
	background-color: #ddd;
	padding: 20px;
	margin: 5px;
	color: #111;
	display: block;
}

table {
	border: 1px solid #707070;
	border-collapse: collapse;
}
#view_open th, #view_all th {
	background-color: #F2F2F2;
}
th, td {
	border: 1px solid #707070;
	padding: 3px 7px;
}

label {
	white-space: nowrap;
}

form th {
	text-align: right;
	width: 175px;
}
form th.top {
	padding-top: 5px;
	vertical-align: top;
}
form tr.save td {
	border: 0 none;
}
form tr.save td input {
	font-size: 1em;
}

.help {
	font-size: 0.9em;
}
.code {
	font-family: courier, sans-serif;
}

#home-link {
	display: block;
	margin-bottom: 10px;
}

#view_open table, #view_all table {
	clear: left;
	margin: 5px;
	width: 80%;
}
#view_open .count {
	float: right;
	font-size: 7em;
	margin-right: 12px;
}

#create table {
	width: 80%;
}
#create textarea {
	width: 95%;
	height: 10em;
}
