body {
	margin: 20px 5px;
	font-family: sans-serif;
}

div {
	display: block;
}
div a {
	background-color: #ddd;
	padding: 20px;
	margin: 5px;
	color: #111;
	display: block;
	float: left;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 1px 4px;
}

label {
	white-space: nowrap;
}

form th {
	text-align: right;
	width: 175px;
}
form th.top {
	padding-top: 5px;
	vertical-align: top;
}
form tr.save td {
	border: 0 none;
}
form tr.save td input {
	font-size: 1em;
}

.help {
	font-size: 0.9em;
}
.code {
	font-family: courier, sans-serif;
}

#home-link {
	display: block;
	margin-bottom: 10px;
}

#view_open table, #view_all table {
	clear: both;
	width: 60%;
}

#create table {
	width: 80%;
}
#create textarea {
	width: 95%;
	height: 10em;
}
