{% extends "base.html" %}

{% load base_url %}

{% block title %}Create an issue{% endblock %}

{% block body-id %}create{% endblock %}

{% block body %}
	<form action="{% base_url %}createissue" method="post">
    <table border="1">
        <tr>
            <th><label for="tn">Team Name</label></th>
            <td><input name = "tn" type="text"/> <span class="help">Please use the format <span class="code">team_number:team_name</span></span></td>
        </tr>
        <tr>
            <th><label for="shortdesc">Short Description</label></th>
            <td><input name = "shortdesc" type="text" maxlength="100"/> <span class="help">A short (100 char max) description of the issue</span></td>
        </tr>
        <tr>
            <th><label for="longdesc">Long Description</label></th>
            <td><textarea name="longdesc"></textarea></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save"></td>
        </tr>
    </table>
    </form>
{% endblock body %}
