{% extends "base.html" %}

{% load base_url %}

{% block title %}Issue: {{issue.shortDesc}}{% endblock %}

{% block body-id %}view{% endblock %}

{% block body %}
    <div>
        <h3>Team: {{issue.team}}; <span id="touched">Last Touched: {{issue.updated|date:"H:i:s"}}</span></h3>
        <p>{{issue.shortDesc}}</p>
        <pre id="desc">{{issue.initialDesc}}</pre>
        <form action="{% base_url %}updateissue" method="post">
        <table>
            <tr>
                <th class="top"><label for="od">Ongoing Description</label></th>
                <td colspan="3"><textarea name="od" rows="10" cols="80">{{issue.ongoingNotes}}</textarea></td>
            </tr>
	    <tr>
		<th><label for="assign">Assigned Mentor:</label></th>
		<td colspan="3"><input type="text" name="assign" id="assigninput" value="{{issue.assignedTo}}"></td>
	    </tr>
            <tr>
                <th>Status</th>
                <td><label for="op">Open:</label><input id="op" type="radio" name="su" value="1" {% ifequal issue.status 1 %} checked="checked" {% endifequal %} ></td>
                <td><label for="og">In Progress:</label><input id="og" type="radio" name="su" value="2" {% ifequal issue.status 2 %} checked="checked" {% endifequal %}></td>
                <td><label for="c">Closed:</label><input id="c" type="radio" name="su" value="4" {% ifequal issue.status 4 %} checked="checked" {% endifequal %}></td>
            </tr>
            <!--
            <tr>
		<td></td>
		<td><label for="wf">Won't Fix:</label><input id="wf" type="radio" name="su" value="8" {% ifequal issue.status 8 %} checked="checked" {%endifequal %}></td>
		<td><label for="cr">Can't Reproduce</label><input id="cr" type="radio" name="su" value="16" {%ifequal issue.status 16%} checked="checked" {%endifequal%}></td>
	    </tr>
            -->
            <tr>
                <td colspan="4"><input type="hidden" name="id" value="{{issue.id}}"/><input type="submit" value="Save"/></td>
            </tr>
        </table>
            
        </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        
        var overwriteInput = 1;
        var lastUpdated = new Date().getTime();
                
        function updateStatus(code) {
            
            
            if (code == 1) {
                $("#op").attr("checked", "true");
            } else if (code == 2) {
                $("#og").attr("checked", "true");
            } else if (code == 4) {
                $("#c").attr("checked", "true");
            }
            
        }
        
        function updateAssigned(assignedTo) {
            $("#assigninput").attr("value", assignedTo);
        }
        
        function pull() {
            $.get('{% base_url %}issuejson/{{ issue.id }}/', function(data) {                
                var issue = eval('(' + data + ')');
                //alert(issue.description);
                $("#desc").html(issue.description.replace("\\\\n", "cow"));
                $("#touched").html("Last Touched: " + issue.touched)
                console.log(overwriteInput == 1);
                console.log(lastUpdated + 300 < new Date().getTime());
                console.log(lastUpdated + 300 < new Date().getTime() || overwriteInput == 1);
                if (lastUpdated + 300 > new Date().getTime() || overwriteInput == 1) {
                    console.log("cows2");
                    updateStatus(issue.status);
                    updateAssigned(issue.assigned);
                    overwriteInput = 1;
                }
                //alert("it works");
            });
        }
        
        function noinputOverwrite (data) {
            console.log("cows");
            overwriteInput = 0;
            lastUpdated = new Date().getTime();
        }
        
        $("input").bind("focusin", noinputOverwrite);
        
        $("textarea").bind("focusin", noinputOverwrite);

        setInterval(pull,1500)
    </script>
{% endblock body %}
