{% extends "base.html" %}

{% load base_url %}

{% block title %}Issues list{% endblock %}

{% block head %}
	<meta http-equiv="refresh" content="5" />
	<script type="text/javascript">
		function showTime() {
			time = new Date();
			timeBox = document.getElementById('time');
			timeBox.innerHTML = time.getHours()+":"+time.getMinutes();
		}
		window.onload = showTime;
	</script>
{% endblock %}

{% block body-id %}view_open{% endblock %}

{% block home-link %}{% endblock %}

{% block body %}
    <span class="count">{{oissues}}</span>
    <ul class="buttons">
	<li><a href="{% base_url %}"><span>View ongoing issues</span></a></span></li>
	<li><a href="{% base_url %}createissueform" accesskey="c"><span>Create an issue</span></a></li>
	<li><a href="{% base_url %}allissues"><span>View all issues</span></a></li>
	<li><span id="time"></span></li>
    </ul>
    <table>
	<tr><th>Team Name</th><th>Short Issue Description</th><th>Assigned Mentor</th><th>Last Touched</th><th>Status</th><th>View</th></tr>
        {% if issues %}
            {% for issue in issues %}
            <tr>
                <td>{{issue.team}}</td><td>{{issue.shortDesc}}</td><td>{{issue.assignedTo}}</td><td>{{issue.updated|date:"H:i:s"}}</td><td>{% ifequal issue.status 1 %} Open {% endifequal %}{% ifequal issue.status 2 %} In Progress {% endifequal %}{% ifequal issue.status 4 %} Closed {% endifequal %}{% ifequal issue.status 8 %} Won't Fix {% endifequal %}{% ifequal issue.status 16 %} Can't Reproduce {% endifequal %}</td><td><a href="{% base_url %}viewissue/{{issue.id}}">View</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock body %}
